<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-App</title>
    <link rel="shortcut icon" href="./Assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles.css">
    <script src="./app.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <nav>
        <div class="logo"><h1><span class="logo-span-1">Chat</span><span class="logo-span-2">App</span></h1></div>    
        <div class="">
            <ul class="nav-list">
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href=""><i class="fas fa-plus" title="Join a chatroom"></i></a></li>
            </ul>
        </div>
        </nav>
    
        <!-- CTA SECTION -->
        <section id="cta-section">
            <div class="con">
                <div class="text">
                    <h1>Connect with ease, chat with breeze</h1>
                    <p>- our web app delivers fast, secure communication. Sign up now!"</p>
                </div>
                <div class="images">
                    <img src="./Assets/pexels-andrea-piacquadio-3771127.jpg" width="30%" alt="" class="image-1">
                    <img src="./Assets/pexels-ketut-subiyanto-4350099.jpg" width="30%" alt="" class="image-2">
                </div>
            </div>
        </section>
    </div>
</body>
</html>