*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    transition: all 250ms ease;
}

body{
    background-color: #242A2D;
    color: #FFFFFF;
}

.container{
    margin-left: 120px;
    margin-right: 120px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: initial;
}

.logo-span-1{
    color: #347650;
}

.logo-span-2{
    color: #FDD000;
}

.nav-list li{
    margin-right: 90px;
}

.nav-list li a {
    color: #FFFFFF;
}

.nav-list li a:hover {
    color: #347650;
}

.nav-list li a i:hover{
    color: #347650;
    transform: scale(2);
}

/* CTA SECTION */

#cta-section{
    margin-top: 150px;
}

.con h1{
    max-width: 250px;
    font-size: 48px;
}

.con{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.con .text{
    min-width: 50%;
}

.text p {
    padding-top: 30px;
}

.image-1{
    margin-right: 50px;
    margin-bottom: 50px;
}