*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    transition: all 250ms ease;
}

body{
    background-color: #242A2D;
    height: 100vh;
    color: #FFFFFF;
}

.container{
    margin-left: 120px;
    margin-right: 120px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: initial;
}

.logo-span-1{
    color: #347650;
}

.logo-span-2{
    color: #FDD000;
}

.nav-list li{
    margin-right: 90px;
}

.nav-list li a {
    color: #FFFFFF;
}

.nav-list li a:hover {
    color: #FDD000;
}

.nav-list li a i:hover{
    color: #FDD000;
    transform: scale(2);
}
/***DROPDOWN MENU ****/
 .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.toggle_btn i{
    color: #FDD000;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    width:300px;
    height: 0;
    background: rgba(193, 233, 14, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 140px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li a {
    color: #FFFFFF;
}
/*NAVBAR MEDIA QUERY*/
@media (max-width: 992px){
    ul{
        display: none;
    }
    .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

/* CTA SECTION */

#cta-section{
    margin-top: 20px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con .left{
    width: 50%;
    min-height: 400px;
    background-color: #242A2D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-right: 1rem;
}
.con .left h1{
    font-size: 48px;
    color: #FDD000;
}


.con{
    width: 90%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

.con .text{
    min-width: 50%;
}

.text p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    /* padding-top: 30px; */
}

/***Hero-image ***/
.right{
    max-width: 700px;
    width: 100%;
    display: flex;
    /* background: url(./assets/photo-1611606063065-ee7946f0787a-removebg-preview.png) no-repeat center / cover; */
    /* margin-right: 50px; */
    /* margin-bottom: 50px; */
}
.right img{
    width: 100%;
}
/***HERO MEDIA QUERY ***/
/* @media (min-width: 420px){
    .right{
        max-width: 48%;
    }
}

@media (min-width: 720px){
    .right{
        max-width: 24%;
    }
} */

/****CHAT ROOM *****/

